{% extends 'base.html' %}
{% block content %}



    <table style="width:100%">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Remove</th>
      <th>Price</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table>

    <button>Back</button>

    <button>Order</button>

    <div class="loader">
    </div>
<div id="cheat">
    <div class="container ">
        <div class="row">
            <div>
            <h2 class="cartHead">My cart</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <button type="button" class="bg-secondary pull-right btn btn-danger" onclick="emptyCart()">Empty cart</button>
            <div class="row cartContainer">
            </div>
            <a href="#" class="btn btn-primary pull-right"><b>Checkout</b></a>
            <div class="col-sm-10"><p class="pull-right" id="totalPrice"></p></div>
        </div>
    </div>
</div>
    </div>



{% endblock %}