{% extends "base.html" %}
{% block content %}
    <h1>{{ book.name }}</h1>
    <h5>Description:</h5>
    <p>{{ book.description }}</p>
    <p>{{ book.price }} kr.</p>
    {% for book_image in book.booksimage_set.all %}
        <img src="{{ book_image.image }}" class="product-img"/>
    {% endfor %}
    <button>Add to cart</button>


    {% if user.is_superuser %}
    <a href="{% url 'delete_book' book.id %}" class="block btn btn-primary">Delete book</a>
    <a href="{% url 'update_book' book.id %}" class="block btn btn-primary">Update book</a>
    {% endif %}

{% endblock %}