{% extends 'base.html' %}
{% block content %}

    <div class="main_products">
        <h1 class="red">Bækur</h1>

    <div class="input-group">
        <input type="search" class="form-control" id="search-box1" placeholder="Ég er að leita að..." />
        <div class="input-group-btn">
            <button type="button" id="search-btn1" class="btn btn-default">Leita</button>
        </div>
    </div>




    <div class="books">
        {% for book in books %}
            {% include 'books/single_book.html' with book=book %}
        {% endfor %}


    </div>

    <div class="sidenav">
        <p class="sidenames"> Raða eftir: </p>
            <div class="option_btns">
                <INPUT TYPE="Radio" Name="order" Value="alphabetic" onclick=""> Stafrófsröð <br>
                <INPUT TYPE="Radio" Name="order" Value="price_lw" onclick=""> Verði - frá lægsta<br>
                <INPUT TYPE="Radio" Name="order" Value="price_high" onclick=""> Verði - frá hæsta
            </div>
    </div>




{% endblock %}