{% extends 'base.html' %}
{% block content %}

    <div class="main_products">
        <h1 class="red">Accessories</h1>

    <div class="input-group">
        <input type="search" class="form-control" id="search-box3" placeholder="I'm searching for..." />
        <div class="input-group-btn">
            <button type="button" id="search-btn3" class="btn btn-default">Search</button>
        </div>
    </div>


        <div class="accessories">
            {% for accessory in accessories %}
                {% include 'accessories/single_accessories.html' with accessories=accessories %}
            {% endfor %}
        </div>
    </div>

    <div class="sidenav">
        <p class="sidenames"> Sort by: </p>
            <div class="option_btns">
                <INPUT TYPE="Radio" Name="order" Value="alphabetic" onclick="" checked> Alphabetical <br>
                <INPUT TYPE="Radio" Name="order" Value="price_lw" onclick=""> Price - low to high<br>
                <INPUT TYPE="Radio" Name="order" Value="price_high" onclick=""> Price - high to low
            </div>
    </div>


{% endblock %}