<div class = "well_product">
    <a href="/accessories/{{ accessory.id }}">
        <img class="product-img" src = "{{ accessory.accessoriesimage_set.first.image }}" />
        <h4>{{ accessory.name }}</h4>
        <p>{{ accessory.price }} kr. </p>
        <button><a href = "#"><img class="logophotos" src="../../static/images/cart.png" alt="instagram"></a></button>
        <button><a href = "#"><img class="logophotos" src="../../static/images/heart.png" alt="instagram"></a></button>
    </a>
</div>