{% extends "base.html" %}
{% block content %}
    <h1>{{ clothes.name }}</h1>
    <h5>Description:</h5>
    <p>{{ clothes.description }}</p>
    <p>{{ clothes.price }} kr.</p>
    {% for clothesimage in clothes.clothesimage_set.all %}
        <img src="{{ clothesimage.image }}" class="product-img"/>
    {% endfor %}

    <button>Add to cart</button>

    {% if user.is_superuser %}
    <a href="{% url 'delete_clothes' clothes.id %}" class="block btn btn-primary">Delete clothes</a>
    <a href="{% url 'update_clothes' clothes.id %}" class="block btn btn-primary">Update clothes</a>
    {% endif %}

{% endblock %}