.cereal{
    background-color: green;
    border: 10px solid black;
}
.clothes{
    background-color: red;
    border: 10px solid black;
}

.books{
    background-color: pink;
    border: 10px solid black;
}

.accessories{
    background-color: purple;
    border: 10px solid black;
}

.frontpage {
    background-color: blue;
    border: 10px solid black;
}

.container2 {
    margin-top: 60px;

}

.products_box {
    display: inline-block;
    background-color: lightblue;
    border: 1px solid black;
    width: 20%;
    height: 400px;
    margin: 5px;

}

.right_navbar_footer{
    display: inline-block;
    float: right;
}

#chat_balloon{
    display: inline-block;
    float: right;
    margin-top: 15px;
}


.products_name{
    text-align: center;
    font-size: 25px;
    font-color: black;
    margin-top: 10px;
}

a {
    color: black;
}
