

.container2 {
    margin-top: 60px;

}

.products_box {
    display: inline-block;
    background-color: lightblue;
    border: 1px solid black;
    width: 20%;
    height: 400px;
    margin: 5px;

}



#nav_down_left{
    margin: 10px;
    padding: 10px;
}


.products_name{
    text-align: center;
    font-size: 25px;
    font-color: black;
    margin-top: 10px;
}

a {
    color: black;
}


.product-img{
    height: 100px;
    width: 100px;
}

.well_product{
    border: 4px solid black;
    width: 30%;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.well_cereal{
    border: 4px solid black;
    width: 30%;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    text-align: center;}

.container{
    margin-bottom: 150px;
}

.cereals{
    margin-bottom: 100px;
}

.shopping_cart{
    border: 0px;
    background-color: white;
}

.info_headers{
    font-size: x-large;
    margin-bottom: 15px;
}

#info_photos {
    margin-bottom: 25px;
    display: inline-block;
}

.inputField1 {
    margin-bottom: 25px;
}
.inputField2 {
    width: 470px;
    height: 150px;
}

.buttons {
    margin-top: 25px;
}

#chat-btn{
    display: inline-block;
    float: right;
    margin-top: 5px;
}

.portrait {
    height: 300px;
    width: 300px;
}

.portrait1 {
    height: 300px;
    width: 400px;
}


#info_photos {
    border: 2px solid black;
}

.logophotos {
    height: 30px;
    width: 30px;
}


.profile-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 7px;
    margin-left: 7px;
}

.cart_btn {
    height: 30px;
    width: 30px;
}

.icons{
    margin-top: 30%;
}
.cartbutton {
    height: 30px;
    width: 30px;
}

.heartbutton {
    height: 30px;
    width: 30px;
}


#chat_baloon{
    display: inline-block;
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

#chat{
    background-color: white;
    display: inline-block;
    position: absolute;
    bottom: 200px;
    left: 450px;
    border: 4px solid black;
    height: 500px;
    width: 400px;
}

.chat_header{
    background-color: lightblue;
    text-align: center;
    padding: 10px;
    font-size: 23px;
}

.chat_footer{
    background-color: lightgray;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: inline-block;
    border-top: 2px solid black;
}

#chat_input{
    width: 80%;
    background-color: lightgray;
    padding: 10px;
    border: 0px;
    display: inline-block;

}

.chat_message{
    background-color: lightgray;
    width: 50%;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
}

.chat_response{
    background-color: lightblue;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    display: block;
    width: 50%;

}
/*.chat_footer{*/
/*    position: absolute;*/
/*    bottom: 0px;*/
/*    background-color: gray;*/
/*}*/

.service{
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}


.hyplinks_navdown:hover {
  color: dodgerblue;
}


.sidenav {
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.sidenames {
    padding-left: 5px;
}


.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.main_products {
    margin-left: 110px;
}

.option_btns {
    margin-left: 10px;
    display: block;
    margin-bottom: 20px;
}

.book_image{
    margin-top: 30%;
    height: 200px;
}
.contact{
    background-color: lightblue;
    font-size: 50px;
    border: 5px solid black;
    position: absolute;
    top: 0px;
    height: 500px;
}

.login{
    background-color: white;
    display: inline-block;
    position: absolute;
    bottom: 200px;
    left: 450px;
    border: 4px solid black;
    width: 400px;
    text-align: center;
    padding: 15px;
}

#login_button{
    margin: 20px;
}

#brefaklemma{
    position: absolute;
    right: 0px;
    top: 5px;
    height: 30px;
    width: 30px;
}

.nav_texts {
    margin-left: 7px;
    margin-right: 7px;
}

.logophotos {
    margin-left: 7px;
    margin-right: 7px;
}



