.cereal{
    background-color: green;
    border: 10px solid black;
}
.clothes{
    background-color: red;
    border: 10px solid black;
}

.books{
    background-color: pink;
    border: 10px solid black;
}

.accessories{
    background-color: purple;
    border: 10px solid black;
}

.frontpage {
    background-color: blue;
    border: 10px solid black;
}

.container2 {

}

.products_box {
    display: inline-block;
    background-color: red;
    border: 1px solid black;
}

#chat_balloon{
    display: inline-block;
    float: right;
    margin-top: 15px;
}


