{% extends 'base.html' %}
{% block content %}


  <div class="search_bar">
      <input type="search" class="form-control rounded" placeholder="I'm searching for.." aria-label="Search"
        aria-describedby="search-addon" />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>

    <div class = "container2">
        <a href="{% url 'cereal-index' %}">
            <div class = "products_box">
                <div class = "products_name">
                    Morgunkorn
                </div>
            </div>
        </a>

        <a href="{% url 'books-index' %}">
        <div class = "products_box">
                <div class = "products_name">
                    Bækur
                </div>
            </div>
            </a>

        <a href = "{% url 'clothes-index' %}">
        <div class = "products_box">
            <div class = "products_name">
                Föt
            </div>
        </div>
            </a>

        <a href = "{% url 'accessories-index' %}">
        <div class = "products_box">
            <div class = "products_name">
                Fylgihlutir
            </div>
        </div>
            </a>


    </div>

    <div class = "login">
        <h1>Innskráning</h1>
        <div>Notendanafn: </div>
        <input type="text">
        <br>
        <div>Lykilorð: </div>
        <input type="password">
        <div><button id = "login_button">Skrá inn</button></div>
        <div><a href="#">Gleymt lykilorð? Smelltu hér</a> </div>

        <h3>Nýskráning</h3>

        <div><a href="#">Áttu ekki aðgang? Smelltu hér til að búa til nýjan aðgang</a> </div>
    </div>






{% endblock %}