{% extends 'base.html' %}
{% block content %}


  <div class="search_bar">
      <input type="search" class="form-control rounded" placeholder="Ég er að leita að.." aria-label="Search"
        aria-describedby="search-addon" />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>

    <div class = "container2">
        <a href="{% url 'cereal-index' %}">
            <div class = "products_box">
                <div class = "products_name">
                    Cereals
                </div>
            </div>
        </a>

        <a href="{% url 'books-index' %}">
        <div class = "products_box">
                <div class = "products_name">
                    Books
                </div>
            </div>
            </a>

        <a href = "{% url 'clothes-index' %}">
        <div class = "products_box">
            <div class = "products_name">
                Clothes
            </div>
        </div>
            </a>

        <a href = "{% url 'accessories-index' %}">
        <div class = "products_box">
            <div class = "products_name">
                Accessories
            </div>
        </div>
            </a>


    </div>

    <div class = "chat">
        <div class="chat_header">Welcome to Ship O'Cereal's online chat</div>
        <div class="chat_message">Hi, how can I help you?</div>

        <div class="chat_footer"><input class = "chat_input" type="text" placeholder="Write a message"><img id="brefaklemma" src="../../static/images/brefaklemma.png" alt="instagram"></div>

        <div class="chat_footer">
            <input class = "chat_input" type="text" placeholder="Write a message">
            <button type="button" id="chat-btn" class="chat-button">Send</button>
        </div>

    </div>


{% endblock %}