{% extends 'base.html' %}
{% block content %}


  <div class="search_bar">
      <input type="search" class="form-control rounded" placeholder="Ég er að leita að.." aria-label="Search"
        aria-describedby="search-addon" />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>

    <div class = "container2">
        <a href="{% url 'cereal-index' %}">
            <div class = "products_box">
                <div class = "products_name">
                    Morgunkorn
                    <img  src="../../static/images/cereal2.png" alt="instagram">
                </div>
            </div>
        </a>

        <a href="{% url 'books-index' %}">
        <div class = "products_box">
                <div class = "products_name">
                    Bækur
                    <img  src="../../static/images/cereal2.png" alt="instagram">
                </div>
            </div>
            </a>

        <a href = "{% url 'clothes-index' %}">
        <div class = "products_box">
            <div class = "products_name">
                Föt
                <img  src="../../static/images/cereal2.png" alt="instagram">
            </div>
        </div>
            </a>

        <a href = "{% url 'accessories-index' %}">
        <div class = "products_box">
            <div class = "products_name">
                Fylgihlutir
                <img  src="../../static/images/cereal2.png" alt="instagram">
            </div>
        </div>
            </a>


    </div>

{% endblock %}