{% extends 'base.html' %}
{% block content %}
    <div class = "frontpage">
        <h2>weeeelllccooomeee frontpage</h2>
    </div>

    <div class = "search_bar" >
        <h3> her kemur search takki </h3>
    </div>

    <div class = "container2">
        <div class = "products_box">
            <div class = "products_name">
                Morgunkorn
            </div>
        </div>

        <div class = "products_box">
                <div class = "products_name">
                    Bækur
                </div>
            </div>

        <div class = "products_box">
            <div class = "products_name">
                Föt
            </div>
        </div>
        <div class = "products_box">
            <div class = "products_name">
                Fylgihlutir
            </div>
        </div>

    </div>

{% endblock %}