{% extends 'base.html' %}
{% block content %}
    <div class = "frontpage">
        <h2>weeeelllccooomeee frontpage</h2>
    </div>

    <div class = "search_bar" >
        <h3> her kemur search takki </h3>
    </div>

    <div class = "container2">
        <div class = "products_box">
            <p class = "products_name">
                Morgunkorn
            </p>
        </div>

        <div class = "products_box">
                <p class = "products_name">
                    Bækur
                </p>
            </div>

        <div class = "products_box">
            <p class = "products_name">
                Föt
            </p>
        </div>

        <div class = "products_box">
            <p class = "products_name">
                Fylgihlutir
            </p>
        </div>

    </div>

{% endblock %}