{% extends 'base.html' %}
{% block content %}

 <div>
    <header class="info_headers"> Contact us </header>
    <div id="contain_contact">
        <p id='firstText'> Fill out the following information: </p>
        <input type="text" class="inputField1" placeholder="Full name *">
        <input type="text" class="inputField1" placeholder="Email *">
        <input type="text" class="inputField1" placeholder="Phone number">
        <p id='text_info'> Leave us a message: </p>
        <input type="text" class="inputField2" placeholder="How can we help you? *">
        <div class="buttons">
            <button class="back" onclick="goBack()"> Cacel </button>
            <button class="send" onclick="sendMessage()"> Send message </button>
        </div>
    </div>

 </div>


{% endblock %}