{% extends 'base.html' %}
{% block content %}

 <div>
    <header class="info_headers"> Hafðu samband </header>
    <div id="contain_contact">
        <p id='firstText'> Fylltu út eftirfarandi upplýsingar: </p>
        <input type="text" class="inputField1" placeholder="Fullt nafn *">
        <input type="text" class="inputField1" placeholder="Netfang *">
        <input type="text" class="inputField1" placeholder="Símanúmer">
        <p id='text_info'> Skilaboð: </p>
        <input type="text" class="inputField2" placeholder="Hvað getum við aðstoðað þig með?">
        <div class="buttons">
            <button class="back"> Hætta við </button>
            <button class="send"> Senda skilaboð </button>
        </div>
    </div>

 </div>


{% endblock %}