{% extends 'base.html' %}
{% block content %}

 <div class="main_info">
    <header class="info_headers"> About us</header>
    <div id="info_box">
        <div id="info_photos">
            <img class="portrait1" src="../../static/images/katrin.jpeg" alt="Katrín Mist Kristinsdóttir">
            <img class="portrait" src="../../static/images/breki.png" alt="Breki Barkarson">
            <img class="portrait" src="../../static/images/malla.png" alt="Málfríður Anna Eiríksdóttir">
        </div>
        <p id="info_text">
            Ship O' Cereal was created in 2021 by three young entrepreneurs who attend Reykjavík University.
            The company specializes in selling cereal and products related to cereal.
    </div>
 </div>


{% endblock %}