{% extends 'base.html' %}
{% block content %}

 <div class="main_info">
    <header id="info_header"> Um okkur </header>
    <div id="info_box">
        <div id="info_photos">
            <img class="portrait" src="katrin.jpeg" alt="Katrín Mist Kristinsdóttir">
            <img class="portrait" src="breki.png" alt="Breki Barkarson">
            <img class="portrait" src="malla.pdf" alt="Málfríður Anna Eiríksdóttir">
        </div>
        <p id="info_text">
            Fyrirtækið Ship O' Cereal var stofnað árið 2021 af ungu athafnafólki sem stundar nám við Háskólann í Reykjavík.
            Fyrirtækið sérhæfir sig í sölu morgunkorna og öðrum varningi.
    </div>
 </div>


{% endblock %}