    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'frontpage-index' %}">Ship O' Cereal</a>
   </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div id = "chat_baloon">
            <a class="hyplinks_navdown"  HREF={% url 'chat-index' %}> <img class="logophotos" src="../../static/images/chat.png" alt="instagram"> </a>
            <a class="hyplinks_navdown"  HREF={% url 'cart-index' %}> <img class="logophotos" src="../../static/images/cart.png" alt="instagram"> </a>
            <a class="hyplinks_navdown"  HREF={% url 'favorites-index' %}> <img class="logophotos" src="../../static/images/heart.png" alt="instagram"> </a>
            <a class="hyplinks_navdown"  HREF={% url 'login-index' %}> <img class="logophotos" src="../../static/images/account.png" alt="instagram"> </a>


            <li><a href = "{% url 'profile' %}">Profile</a></li>



            {% if user.is.authenticated %}
                <a href="{% url 'logout' %}"> Útskráning </a>
            {% else  %}
                <a href="{% url 'login' %}"> Innskráning </a>
                <a href="{% url 'register' %}"> Nýskráning </a>
            {% endif %}


        </div>




    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-default navbar-fixed-bottom">

    <div id = "nav_down_left">
        <div class = "left_navbar_footer"> Ship O' Cereal </div>
        <div class = "left_navbar_footer">
            <a class="hyplinks_navdown" HREF="{% url 'info-index' %}"> Um okkur </a>
        </div>
        <div class = "left_navbar_footer">
            <a class="hyplinks_navdown" HREF="{% url 'contact-index' %}"> Hafa samband </a>
        </div>


        <div class = "right_navbar_footer">
            Finndu okkur á samfélagsmiðlum
            <a HREF="https://www.instagram.com" target="_blank">
                <img class="logophotos" src="../../static/images/instaa.jpeg" alt="instagram">
            </a>
            <a HREF="https://www.facebook.com" target="_blank">
                <img class="logophotos" src="../../static/images/faacebook.jpeg" alt="facebook">
            </a>
        </div>
    </div>

</nav>