{% extends "base.html" %}
{% block content %}
    <h1>{{ cereal.name }}</h1>
    <h5>Description:</h5>
    <p>{{ cereal.description }}</p>
    <p>{{ cereal.price }} kr.</p>
    {% for cereal_image in cereal.cerealimage_set.all %}
        <img src="{{ cereal_image.image }}" class="product-img"/>
    {% endfor %}

    <a href="{% url 'add_to_cart' cereal.id %}" class = "button add-button">Add to cart</a>


    {% if user.is_superuser %}
    <a href="{% url 'delete_cereal' cereal.id %}" class="block btn btn-primary">Delete cereal</a>
    <a href="{% url 'update_cereal' cereal.id %}" class="block btn btn-primary">Update cereal</a>
    {% endif %}

{% endblock %}