{% extends 'base.html' %}
{% block content %}
    <div class="main_products">
        <h1 class="red">Morgunkorn</h1>

    <div class="input-group">
        <input type="search" class="form-control" id="search-box" placeholder="Ég er að leita að..." />
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default">Leita</button>
        </div>
    </div>



        <div class="cereals">
            {% for cereal in cereals %}
                {% include 'cereal/single_cereal.html' with cereal=cereal %}
            {% endfor %}
        </div>





    <div class="sidenav">
        <p class="sidenames"> Vöruflokkar: </p>
        <div class="option_btns">
            <INPUT TYPE="Radio" Name="categories" Value="sugar_low" onclick=""> Sykurlítið <br>
            <INPUT TYPE="Radio" Name="categories" Value="sugar_high" onclick=""> Sætt <br>
            <INPUT TYPE="Radio" Name="categories" Value="vegan" onclick=""> Vegan
        </div>

        <p class="sidenames"> Raða eftir: </p>
        <div class="option_btns">
            <INPUT TYPE="Radio" Name="order" Value="alphabetic" onclick=""> Stafrófsröð <br>
            <INPUT TYPE="Radio" Name="order" Value="price_lw" onclick=""> Verði - frá lægsta<br>
            <INPUT TYPE="Radio" Name="order" Value="price_high" onclick=""> Verði - frá hæsta
        </div>
    </div>


{% endblock %}

