{% extends 'base.html' %}
{% block content %}
    <div class="main_products">
        <h1 class="red">Cereals</h1>

    <div class="input-group">
        <input type="search" class="form-control" id="search-box" placeholder="I'm searching for..." />
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default">Search</button>
        </div>
    </div>



        <div class="cereals">
            {% for cereal in cereals %}
                {% include 'cereal/single_cereal.html' with cereal=cereal %}
            {% endfor %}
        </div>





    <div class="sidenav">
        <p class="sidenames"> Product categories: </p>
        <div class="option_btns">
            <button class="filter_button" value="all">Show all</button>
            <button class="filter_button" value="30">Low in sugar</button>
            <button class="filter_button" value="29">Sugary</button>
            <button class="filter_button" value="28">Vegan</button>
{#            <INPUT TYPE="Radio" class = "radio" Name="categories" Value="sugar_low" onclick="" checked > Show all <br>#}
{#            <INPUT TYPE="Radio" class = "radio" Name="categories" Value="sugar_low" onclick=""> Low in sugar <br>#}
{#            <INPUT TYPE="Radio" class = "radio" Name="categories" Value="sugar_high" onclick=""> Sugary <br>#}
{#            <INPUT TYPE="Radio" class = "radio" Name="categories" Value="vegan" onclick=""> Vegan#}


        </div>

        <p class="sidenames"> Sort by: </p>
        <div class="option_btns">
            <button class="sort_button" value="alphabetical">Alphabetical</button>
            <button class="sort_button" value="price_high">Price high</button>
            <button class="sort_button" value="price_low">Price low</button>
        </div>
    </div>
    </div>



{% endblock %}

