{% extends 'base.html' %}
{% block content %}
    <div class="main_products">
        <h1 class="red">Cereals</h1>

    <div class="input-group">
        <input type="search" class="form-control" id="search-box" placeholder="I'm searching for..." />
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default">Search</button>
        </div>
    </div>



        <div class="cereals">
            {% for cereal in cereals %}
                {% include 'cereal/single_cereal.html' with cereal=cereal %}
            {% endfor %}
        </div>





    <div class="sidenav">
        <p class="sidenames"> Product categories: </p>
        <div class="option_btns">
            <INPUT TYPE="Radio" class = "radio" Name="categories" Value="sugar_low" onclick="" checked > Show all <br>
            <INPUT TYPE="Radio" class = "radio" Name="categories" Value="sugar_low" onclick=""> Low in sugar <br>
            <INPUT TYPE="Radio" class = "radio" Name="categories" Value="sugar_high" onclick=""> Sugary <br>
            <INPUT TYPE="Radio" class = "radio" Name="categories" Value="vegan" onclick=""> Vegan


        </div>

        <p class="sidenames"> Sort by: </p>
        <div class="option_btns">
            <INPUT TYPE="Radio" Name="order" Value="alphabetic" onclick="" checked> Alphabetical <br>
            <INPUT TYPE="Radio" Name="order" Value="price_lw" onclick=""> Price - low to high<br>
            <INPUT TYPE="Radio" Name="order" Value="price_high" onclick=""> Price - high to low
        </div>
    </div>
    </div>



{% endblock %}

